*{
    outline: none;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, rgba(54, 105, 243, 1) 0%, rgba(100, 57, 243, 1) 100%);
    z-index: 100;
    transition: 0.3s;
}

.preloader-info{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.preloader-text{
    color: white;
    font-size: 30px;
    font-family: "segoe UI";
}

.preloader-info > img{
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}