*{
    outline: none;
}

a {
    color: black;
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, rgba(54, 105, 243, 1) 0%, rgba(100, 57, 243, 1) 100%);
    z-index: 100;
    transition: 0.3s;
}

.preloader-info{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.preloader-text{
    color: white;
    font-size: 30px;
    font-family: "segoe UI";
}

.preloader-info > img{
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

#up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-image: url("../img/arrow-short-black.png");
    background-color: transparent;
    border: none;
    background-size: 70% 70%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 4;
}

#up:hover{
    background-color: #3669F3;
    background-image: url("../img/arrow-white.png");
}

.visible{
    visibility: visible !important;
    opacity: 1 !important;
}

#message{
    width: 600px;
    padding: 15px 45px;
    color: white;
    font-size: 18px;
    font-family: "Segoe UI";
    position: fixed;
    bottom: 10%;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 15;
}

#close-message{
    position: absolute;
    top: -10px;
    right: 10px;
    color: #DCDCDC;
    font-size: 30px;
}

#close-message:hover{
    cursor: pointer;
}

.success-message{
    background: #60C03C;
}

.warning-message{
    background: #FFD600;
    color: #3669F3;
}

.error-message{
    background: #FF4D4Dcc;
}

.header-user{
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
}

.header-user > .line{
    position: relative;
    align-items: center;
}

.header-company-name{
    color: #676767;
    font-size: 30px;
    font-family: "Segoe UI";
}

.header-company-logo {
    width: 40px;
    height: 40px;
    background: #cccccc;
    border-radius: 100%;
    border: none;
    margin-left: 20px;
    border: 2px solid #CCCCCC;
}

.header-user-more-button{
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transition: 0.3s;
}

.header-user-more-button > img{
    width: 15px;
}

.header-user-more-block{
    position: absolute;
    top: 60px;
    right: -7px;
    background: white;
    border-radius: 15px;
    padding: 0 25px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: 3;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}

.header-user-more-block > *{
    display: block;
    font-size: 18px;
    font-family: "Segoe UI";
    padding: 10px 0;
    color: #676767;
    white-space: nowrap;
}

.header-user-more-block > *:first-child{
    padding-top: 15px;
}

.header-user-more-block > *:last-child{
    padding-bottom: 15px;
}


.header-company-logo > img{
    width: 100%;
}

#exit{
    border: solid #E4E4E4;
    border-width: 1px 0 0 0;
    width: 100%;
    text-align: left;
}

.parent{
    position: relative;
}